<% messages.each do |message| %>
    <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
            <div class="neumorphic-input px-4 pb-2 pt-4">
                <%= raw(render_markdown(message.content)) %>
            </div>
        </div>
    <% elsif message.role == "assistant"%>
        <div class="d-flex justify-content-start mb-5">
            <div class="neumorphic-input ia-bg px-4 pb-2 pt-4">
                <%= raw(render_markdown(message.content)) %>
            </div>
        </div>
    <% end %>
<% end %>