<div class="container">
    <%= simple_form_for [@challenge, @message] do |f| %>
        <%= f.input :content, label: "Ask a question", require: true %>
        <%= f.button :submit, 'Submit', class: 'btn-primary' %>
    <% end %>
</div>