<h1><%= @challenge.name %></h1>

<%= raw(render_markdown(@challenge.content)) %>

<%= link_to "Go to chats", challenge_chats_path(@challenge), class: "neumorphic-button px-2 py-2 text-decoration-none" %>